<div>
  <div>
    <h1>
      List of all comments
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new comment
    </h2>

    <form action="/insert_comment" method="post" class="mb-3">
      <div class="mb-3">
        <label for="post_id_box" class="form-label">
          Post
        </label>

        <input type="text" id="post_id_box" name="query_post_id" class="form-control">
      </div>

      <div class="mb-3">
        <label for="commenter_id_box" class="form-label">
          Commenter
        </label>

        <input type="text" id="commenter_id_box" name="query_commenter_id" class="form-control">
      </div>

      <div class="mb-3">
        <label for="comment_box" class="form-label">
          Comment
        </label>

        <textarea id="comment_box" name="query_comment" rows="3" class="form-control"></textarea>
      </div>

      <button class="btn btn-primary">
        Create comment
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>
          ID
        </th>

        <th>
          Post
        </th>

        <th>
          Commenter
        </th>

        <th>
          Comment
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_comments.each do |a_comment| %>
      <tr>
        <td>
          <%= a_comment.id %>
        </td>

        <td>
          <%= a_comment.post_id %>
        </td>

        <td>
          <%= a_comment.commenter_id %>
        </td>

        <td>
          <%= a_comment.comment %>
        </td>

        <td>
          <%= time_ago_in_words(a_comment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_comment.updated_at) %> ago
        </td>

        <td>
          <a href="/comments/<%= a_comment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
