<div>
  <div>
    <h1>
      Follow requests
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>
          Sender
        </th>

        <th>
          Recipient
        </th>

        <th>
          Status
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_followrequests.each do |a_followrequest| %>
      <tr>
        <td>
          <%= a_followrequest.sender.name.presence || a_followrequest.sender.username %>
        </td>

        <td>
          <%= a_followrequest.recipient.name.presence || a_followrequest.recipient.username %>
        </td>

        <td>
          <%= a_followrequest.status %>
        </td>

        <td>
          <%= time_ago_in_words(a_followrequest.created_at) %> ago
        </td>
        <td>
          <% if a_followrequest.status == 'pending' && a_followrequest.recipient == current_user %>
            <%= button_to 'Accept', accept_followrequest_path(a_followrequest), method: :post, class: 'btn btn-sm btn-success' %>
            <%= button_to 'Decline', decline_followrequest_path(a_followrequest), method: :post, class: 'btn btn-sm btn-danger' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
