<div>
  <div>
    <h1>
      List of all followrequests
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new followrequest
    </h2>

    <form action="/insert_followrequest" method="post" class="mb-3">
      <div class="mb-3">
        <label for="sender_id_box" class="form-label">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="query_sender_id" class="form-control">
      </div>

      <div class="mb-3">
        <label for="recipient_id_box" class="form-label">
          Recipient
        </label>

        <input type="text" id="recipient_id_box" name="query_recipient_id" class="form-control">
      </div>

      <div class="mb-3">
        <label for="status_box" class="form-label">
          Status
        </label>

        <input type="text" id="status_box" name="query_status" class="form-control">
      </div>

      <button class="btn btn-primary">
        Create followrequest
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>
          Sender
        </th>

        <th>
          Recipient
        </th>

        <th>
          Status
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_followrequests.each do |a_followrequest| %>
      <tr>
        <td>
          <%= a_followrequest.sender.name.presence || a_followrequest.sender.username %>
        </td>

        <td>
          <%= a_followrequest.recipient.name.presence || a_followrequest.recipient.username %>
        </td>

        <td>
          <%= a_followrequest.status %>
        </td>

        <td>
          <%= time_ago_in_words(a_followrequest.created_at) %> ago
        </td>
        <td>
          <% if a_followrequest.status == 'pending' && a_followrequest.recipient == current_user %>
            <%= button_to 'Accept', accept_followrequest_path(a_followrequest), method: :post, class: 'btn btn-sm btn-success' %>
            <%= button_to 'Decline', decline_followrequest_path(a_followrequest), method: :post, class: 'btn btn-sm btn-danger' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
