<div>
  <div>
    <h1>
      Followrequest #<%= @the_followrequest.id %> details
    </h1>

    <div>
      <div>
        <a href="/followrequests">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_followrequest/<%= @the_followrequest.id %>">
          Delete followrequest
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Sender
      </dt>
      <dd>
        <%= @the_followrequest.sender_id %>
      </dd>

      <dt>
        Recipient
      </dt>
      <dd>
        <%= @the_followrequest.recipient_id %>
      </dd>

      <dt>
        Status
      </dt>
    <dd>
      <%= @the_followrequest.status %>
    </dd>

    <% if @the_followrequest.status == 'pending' && @the_followrequest.recipient == current_user %>
      <dd>
        <%= button_to 'Accept', accept_followrequest_path(@the_followrequest), method: :post, class: 'btn btn-sm btn-success' %>
        <%= button_to 'Decline', decline_followrequest_path(@the_followrequest), method: :post, class: 'btn btn-sm btn-danger' %>
      </dd>
    <% end %>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_followrequest.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_followrequest.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit followrequest
    </h2>

    <form action="/modify_followrequest/<%= @the_followrequest.id %>"  method="post" class="mb-3">
      <div class="mb-3">
        <label for="sender_id_box" class="form-label">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="query_sender_id" value="<%= @the_followrequest.sender_id %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="recipient_id_box" class="form-label">
          Recipient
        </label>

        <input type="text" id="recipient_id_box" name="query_recipient_id" value="<%= @the_followrequest.recipient_id %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="status_box" class="form-label">
          Status
        </label>

        <input type="text" id="status_box" name="query_status" value="<%= @the_followrequest.status %>" class="form-control">
      </div>

      <button class="btn btn-primary">
        Update followrequest
      </button>
    </form>
  </div>
</div>

<hr>
