<nav class="navbar navbar-expand-lg navbar-dark bg-charcoal-gradient">
  <div class="container-fluid position-relative">
    <div class="d-flex align-items-center position-absolute start-0">
      <%= link_to 'N', root_path, class: 'navbar-brand me-3' %>
      <%= link_to search_path, class: 'navbar-brand' do %>
        <i class="bi bi-search"></i>
      <% end %>
    </div>
    <ul class="navbar-nav mb-2 mb-lg-0 d-flex flex-row mx-auto justify-content-center">
      <li class="nav-item me-3"><%= link_to root_path, class: "nav-link #{current_page?(root_path) ? 'active' : ''}" do %><i class="bi bi-house"></i><% end %></li>
      <li class="nav-item me-3"><%= link_to '/library', class: "nav-link #{request.path == '/library' ? 'active' : ''}" do %><i class="bi bi-book"></i><% end %></li>
      <li class="nav-item me-3"><%= link_to '/notifications', class: "nav-link position-relative #{request.path == '/notifications' ? 'active' : ''}" do %>
        <i class="bi bi-bell"></i>
        <% unread_count = current_user.notifications.unread.count %>
        <% if unread_count.positive? %>
          <span class="notification-dot"></span>
        <% end %>
      <% end %></li>
      <li class="nav-item"><%= link_to '/profile', class: "nav-link #{request.path == '/profile' ? 'active' : ''}" do %><i class="bi bi-person"></i><% end %></li>
    </ul>
    <span class="navbar-text position-absolute end-0 d-flex align-items-center">
      <%= @page_title %>
      <% if request.path == '/profile' %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-link text-light ms-2' %>
      <% end %>
    </span>
  </div>
</nav>
