<section class="landing-page">
  <%= render "pages/landing/hero" %>
  <%= render "pages/landing/how_it_works" %>
  <%= render "pages/landing/why_nouvelle" %>
  <%= render "pages/landing/product_proof" %>
  <%= render "pages/landing/final_cta" %>
</section>
