<h1 class="mb-3 text-white">External Book Search</h1>

<%= form_with url: '/books/external_search', method: :get, local: true, class: 'mb-4' do %>
  <div class="input-group">
    <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search books by title or author', list: 'book-suggestions', data: { controller: 'book-suggest', action: 'input->book-suggest#search', 'book-suggest-target': 'input' } %>
    <datalist id="book-suggestions" data-book-suggest-target="list"></datalist>
    <button class="btn btn-primary">Search</button>
  </div>
<% end %>

<% Array(@external_books['docs']).each do |book| %>
  <div class="mb-2 p-2 border rounded content-box">
    <% if book['cover_i'] %>
      <%= image_tag(OpenLibraryClient.cover_url(book['cover_i'], 'S'), class: 'me-2', size: '50x75') %>
    <% end %>
    <strong class="text-white"><%= link_to book['title'], book_details_path(work_id: book['key'].split('/').last, edition_id: book['edition_key']&.first), class: 'text-white' %></strong>
    <% if book['author_name'] %>
      <span class="text-muted">by <%= book['author_name'].join(', ') %></span>
    <% end %>
    <%= link_to 'Details', book_details_path(work_id: book['key'].split('/').last, edition_id: book['edition_key']&.first), class: 'btn btn-link btn-sm text-decoration-none' %>
    <%= form_with url: '/books/import', method: :post, local: true, class: 'd-inline ms-2' do %>
      <%= hidden_field_tag :work_id, book['key'].split('/').last %>
      <%= select_tag :status,
        options_for_select(Reading::STATUSES.map { |s| [s.humanize, s] }, 'want_to_read'),
        class: 'form-select form-select-sm d-inline w-auto me-2' %>
      <button class="btn btn-sm btn-primary">Add</button>
    <% end %>
  </div>
<% end %>

<% if params[:q].present? && Array(@external_books['docs']).empty? %>
  <p class="text-muted">No books found.</p>
<% end %>
