<div>
  <div class="d-flex justify-content-between mb-3">
    <%= link_to '/library', class: 'text-white' do %>
      <i class="bi bi-arrow-left"></i>
    <% end %>
  </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_book.title %>
      </dd>

      <dt>
        Image url
      </dt>
      <dd>
        <%= @the_book.image_url %>
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <%= @the_book.author_id %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_book.description %>
      </dd>

      <dt>
        Page length
      </dt>
      <dd>
        <%= @the_book.page_length %>
      </dd>

      <dt>
        Year
      </dt>
      <dd>
        <%= @the_book.year %>
      </dd>

      <dt>
        Library
      </dt>
      <dd>
        <%= @the_book.library_id %>
      </dd>

      <dt>
        Genre
      </dt>
      <dd>
        <%= @the_book.genre %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_book.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_book.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

