<div>
  <div class="d-flex justify-content-between mb-3">
    <%= link_to books_path, class: 'text-white' do %>
      <i class="bi bi-arrow-left"></i>
    <% end %>
    <%= link_to 'Delete book', "/delete_book/#{@the_book.id}", class: 'btn btn-danger btn-sm text-white' %>
  </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_book.title %>
      </dd>

      <dt>
        Image url
      </dt>
      <dd>
        <%= @the_book.image_url %>
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <%= @the_book.author_id %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_book.description %>
      </dd>

      <dt>
        Page length
      </dt>
      <dd>
        <%= @the_book.page_length %>
      </dd>

      <dt>
        Year
      </dt>
      <dd>
        <%= @the_book.year %>
      </dd>

      <dt>
        Library
      </dt>
      <dd>
        <%= @the_book.library_id %>
      </dd>

      <dt>
        Genre
      </dt>
      <dd>
        <%= @the_book.genre %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_book.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_book.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit book
    </h2>

    <% if flash[:alert].present? %>
      <p class="text-danger"><%= flash[:alert] %></p>
    <% end %>

    <form action="/modify_book/<%= @the_book.id %>"  method="post" class="mb-3">
      <div class="mb-3">
        <label for="title_box" class="form-label">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_book.title %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="image_url_box" class="form-label">
          Image url
        </label>

        <input type="text" id="image_url_box" name="query_image_url" value="<%= @the_book.image_url %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="author_id_box" class="form-label">
          Author
        </label>

        <input type="text" id="author_id_box" name="query_author_id" value="<%= @the_book.author_id %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="description_box" class="form-label">
          Description
        </label>

        <textarea id="description_box" name="query_description" class="form-control"><%= @the_book.description %></textarea>
      </div>

      <div class="mb-3">
        <label for="page_length_box" class="form-label">
          Page length
        </label>

        <input type="text" id="page_length_box" name="query_page_length" value="<%= @the_book.page_length %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="year_box" class="form-label">
          Year
        </label>

        <input type="text" id="year_box" name="query_year" value="<%= @the_book.year %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="library_id_box" class="form-label">
          Library
        </label>

        <input type="text" id="library_id_box" name="query_library_id" value="<%= @the_book.library_id %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="genre_box" class="form-label">
          Genre
        </label>

        <input type="text" id="genre_box" name="query_genre" value="<%= @the_book.genre %>" class="form-control">
      </div>

      <button class="btn btn-primary">
        Update book
      </button>
    </form>
  </div>
</div>

<hr>
