<div class="feed-post-card__footer">
  <div class="feed-post-card__counts d-flex flex-wrap gap-3 mb-2">
    <span><%= link_to pluralize(post.likes_count.to_i, 'Like'), post_likes_path(post.id) %></span>
    <span><%= link_to pluralize(post.comments_count.to_i, 'Comment'), post_comments_path(post.id) %></span>
  </div>

  <div class="feed-post-card__actions d-flex align-items-center gap-3 mb-3">
    <% like = post.likes.find_by(liked: current_user) %>
    <% if like %>
      <%= link_to "/delete_like/#{like.id}", class: 'feed-post-card__icon-link' do %>
        <i class="bi bi-heart-fill text-danger"></i>
      <% end %>
    <% else %>
      <%= link_to insert_like_path(query_post_id: post.id, query_liked_id: current_user.id), method: :post, class: 'feed-post-card__icon-link' do %>
        <i class="bi bi-heart"></i>
      <% end %>
    <% end %>

    <% renou = post.renous.find_by(user: current_user) %>
    <% if renou %>
      <%= link_to "/delete_renou/#{renou.id}", class: 'feed-post-card__icon-link' do %>
        <i class="bi bi-arrow-repeat text-success"></i>
      <% end %>
    <% else %>
      <%= link_to insert_renou_path(query_post_id: post.id, query_user_id: current_user.id), method: :post, class: 'feed-post-card__icon-link' do %>
        <i class="bi bi-arrow-repeat"></i>
      <% end %>
    <% end %>
  </div>

  <%= form_with url: insert_comment_path, scope: :comment, local: true, class: 'mt-2' do |cf| %>
    <%= cf.hidden_field :post_id, value: post.id %>
    <%= cf.hidden_field :commenter_id, value: current_user.id %>
    <div class="input-group input-group-sm feed-post-card__comment-form">
      <%= cf.text_field :comment, class: 'form-control', placeholder: 'Add a comment' %>
      <button class="btn feed-post-card__comment-button">Comment</button>
    </div>
  <% end %>

  <% post.comments.each do |comment| %>
    <div class="feed-post-card__comment mt-2">
      <strong><%= link_to comment.commenter.name, user_path(comment.commenter), class: 'feed-post-card__comment-author' %></strong>
      <span><%= comment.comment %></span>
    </div>
  <% end %>
</div>
