<% show_view_link = local_assigns.fetch(:show_view_link, true) %>
<% fallback_reading = nil %>
<% if post.book.present? %>
  <% candidate_reading = post.creator.readings.find_by(book: post.book) %>
  <% fallback_reading = candidate_reading if candidate_reading.present? && (!candidate_reading.is_private || post.creator == current_user) %>
<% end %>
<article class="feed-post-card mb-4">
  <div class="feed-post-card__header d-flex gap-3">
    <%= image_tag(post.creator.avatar.presence || 'default_avatar.png', alt: post.creator.name, class: 'avatar feed-post-card__avatar') %>
    <div class="feed-post-card__content flex-grow-1">
      <div class="d-flex flex-column flex-lg-row justify-content-between gap-2">
        <div>
          <div class="feed-post-card__author-line">
            <strong><%= link_to post.creator.name, user_path(post.creator), class: 'feed-post-card__author-link' %></strong>
            <span class="feed-post-card__username">@<%= link_to post.creator.username, user_path(post.creator), class: 'feed-post-card__username-link' %></span>
          </div>
          <div class="feed-post-card__meta-line">
            <% if post.reading_post_type_label.present? %>
              <span class="feed-post-card__type-pill"><%= post.reading_post_type_label %></span>
            <% elsif post.book.blank? && (current_book = post.creator.random_currently_reading_book) %>
              <span>currently reading <%= link_to current_book.title, book_path(current_book), class: 'feed-post-card__inline-link' %></span>
            <% end %>
            <span><%= time_ago_in_words(post.created_at) %> ago</span>
          </div>
        </div>

        <% allowed_view = post.creator == current_user || !post.creator.is_private || current_user.following.include?(post.creator) %>
        <% if allowed_view && show_view_link %>
          <div class="text-lg-end">
            <%= link_to 'View Post', post_path(post), class: 'feed-post-card__view-link' %>
          </div>
        <% end %>
      </div>

      <% if post.book.present? %>
        <%= render 'posts/post_book_panel', post: post, reading: fallback_reading %>
      <% end %>

      <% if post.quote_text.present? %>
        <blockquote class="feed-post-card__quote mb-3">
          <p class="mb-0">"<%= post.quote_text %>"</p>
        </blockquote>
      <% end %>

      <% if post.content.present? %>
        <div class="feed-post-card__body mb-3">
          <%= simple_format(post.content) %>
        </div>
      <% end %>

      <% if post.legacy_poll? %>
        <div class="feed-post-card__poll mb-3">
          <p class="feed-post-card__poll-question mb-2"><%= post.poll_data['question'] %></p>
          <ul class="mb-0">
            <% post.poll_data.except('question').each_value do |option| %>
              <li><%= option %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if post.media.attached? %>
        <div class="post-media mt-2">
          <% post.media.each do |media| %>
            <% if media.image? %>
              <%= image_tag media, class: 'img-fluid rounded mb-2' %>
            <% elsif media.video? %>
              <%= video_tag url_for(media), controls: true, class: 'img-fluid rounded mb-2' %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <%= render 'posts/post_engagement', post: post %>
    </div>
  </div>
</article>
