<div>
  <div>
    <h1>
      Feed
    </h1>
  </div>
</div>

<div>
  <div>
    <form action="/insert_post" method="post">
      <div>
        <input type="hidden" id="creator_id_box" name="query_creator_id" value="current_user.id">
      </div>
      <textarea id="content_box" name="query_content" rows="3" placeholder="What's happening"></textarea>
    </div>

    <button>
      Post
    </button>
  </form>
</div>
</div>

<hr>

<div class="posts-feed">
  <% @list_of_posts.each do |post| %>
    <div class="post-card">
      <div class="post-header">
        <%= image_tag(post.creator.avatar || 'default_avatar.png', alt: post.creator.name, class: 'avatar') %>
        <div class="post-user-info">
          <strong><%= post.creator.name %></strong>
          <small><%= time_ago_in_words(post.created_at) %> ago</small>
        </div>
      </div>
      <div class="post-body">
        <p><%= post.content %></p>
        <% if post.book %>
          <p class="post-book">
            Reading: <%= link_to post.book.title, book_path(post.book) %>
          </p>
        <% end %>
      </div>
      <div class="post-footer">
        <span><%= pluralize(post.likes_count, 'Like') %></span>
        <span><%= pluralize(post.comments_count, 'Comment') %></span>
      </div>
    </div>
    <hr>
  <% end %>
</div>
