<% explore_active = params[:tab] == 'explore' %>
<% feed_path = explore_active ? posts_path(tab: 'explore') : posts_path %>

<section class="feed-shell app-page-stack">
  <ul class="nav nav-tabs app-tabs-row feed-tabs mb-3">
    <li class="nav-item">
      <%= link_to 'Following', posts_path, class: "nav-link #{explore_active ? '' : 'active'}" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Explore', posts_path(tab: 'explore'), class: "nav-link #{explore_active ? 'active' : ''}" %>
    </li>
  </ul>

  <div class="posts-feed">
    <% @list_of_posts.each do |post| %>
      <%= render 'posts/post_card', post: post %>
    <% end %>
  </div>
</section>

<section class="feed-composer-drawer" id="feed-composer">
  <%= link_to feed_path, class: 'feed-composer-drawer__backdrop', aria: { label: 'Close composer' } do %>
  <% end %>

  <div class="feed-composer-drawer__panel" role="dialog" aria-modal="true" aria-labelledby="feed-composer-title">
    <div class="feed-composer-drawer__chrome">
      <p class="feed-composer-drawer__eyebrow mb-0">Add a note</p>
      <%= link_to feed_path, class: 'feed-composer-drawer__close', aria: { label: 'Close composer' } do %>
        <i class="bi bi-x-lg"></i>
      <% end %>
    </div>

    <%= render 'posts/composer',
      composer_books: @composer_books,
      composer_id: nil,
      composer_classes: 'feed-composer--drawer',
      heading_id: 'feed-composer-title' %>
  </div>
</section>
