<% explore_active = params[:tab] == 'explore' %>
<% pill_label = explore_active ? 'Following shelf' : 'Explore shelf' %>
<% pill_path = explore_active ? posts_path : posts_path(tab: 'explore') %>

<section class="feed-shell">
  <header class="feed-hero mb-3">
    <p class="feed-hero__eyebrow mb-1">Nouvelle Feed</p>
    <div class="d-flex flex-column flex-lg-row justify-content-between gap-2 align-items-lg-end">
      <div>
        <h1 class="feed-hero__title mb-1">A social feed for people in the middle of a book.</h1>
        <p class="feed-hero__copy mb-0">
          Share the page you just reached, the line you underlined, or the feeling you closed the cover with.
        </p>
      </div>
      <%= link_to pill_label, pill_path,
        class: 'feed-hero__pill',
        aria: { label: "Switch to #{pill_label.sub(' shelf', '')} feed" } %>
    </div>
  </header>

  <ul class="nav nav-tabs feed-tabs mb-3 justify-content-center">
    <li class="nav-item">
      <%= link_to 'Following', posts_path, class: "nav-link #{explore_active ? '' : 'active'}" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Explore', posts_path(tab: 'explore'), class: "nav-link #{explore_active ? 'active' : ''}" %>
    </li>
  </ul>

  <%= render 'posts/composer', composer_books: @composer_books %>

  <div class="posts-feed">
    <% @list_of_posts.each do |post| %>
      <%= render 'posts/post_card', post: post %>
    <% end %>
  </div>
</section>
