<div>
  <div>
    <h1>
      Post #<%= @the_post.id %> details
    </h1>

    <div>
      <div>
        <a href="/posts">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_post/<%= @the_post.id %>">
          Delete post
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Creator
      </dt>
      <dd>
        <%= @the_post.creator_id %>
      </dd>

      <dt>
        Content
      </dt>
      <dd>
        <%= @the_post.content %>
      </dd>

      <dt>
        Book
      </dt>
      <dd>
        <%= @the_post.book_id %>
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_post.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_post.comments_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit post
    </h2>

    <form action="/modify_post/<%= @the_post.id %>"  method="post" class="mb-3">
      <div class="mb-3">
        <label for="creator_id_box" class="form-label">
          Creator
        </label>

        <input type="text" id="creator_id_box" name="query_creator_id" value="<%= @the_post.creator_id %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="content_box" class="form-label">
          Content
        </label>

        <textarea id="content_box" name="query_content" class="form-control"><%= @the_post.content %></textarea>
      </div>

      <div class="mb-3">
        <label for="book_id_box" class="form-label">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id" value="<%= @the_post.book_id %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="likes_count_box" class="form-label">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @the_post.likes_count %>" class="form-control">
      </div>

      <div class="mb-3">
        <label for="comments_count_box" class="form-label">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_post.comments_count %>" class="form-control">
      </div>

      <button class="btn btn-primary">
        Update post
      </button>
    </form>
  </div>
</div>

<hr>
